@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_link {
  font-size: 16px;
  font-weight: medium;
  color: black;
}
.header_link:hover {
  color: rgb(0, 255, 0);
}
.header_item {
  display: none;
}
.header_insta {
  display: none;
}
.header_number {
  display: none;
  font-family: sans-serif;
}

@media screen and (min-width: 640px) {
  .header_insta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  .header_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .header_meinmenu {
    display: none;
  }
}
.hero {
  background-image: url(../../img/hero/Банер.png);
  background-position: 50% 50%;
  background-size: cover;
}
.hero_block {
  text-align: center;
}
.hero_title {
  padding-top: 120px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 28px;
  line-height: 120%;
  text-transform: uppercase;
}
.hero_text {
  font-size: 16px;
  color: white;
  font-weight: medium;
  margin-bottom: 30px;
  line-height: 145%;
}
.hero_btn {
  padding: 22px 70.5px;
  background-color: rgb(174, 123, 60);
  color: white;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 124px;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.hero_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: black;
}

@media screen and (min-width: 620px) {
  .hero_title {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_text {
    width: 80%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1000px) {
  .hero_title {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 445px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_text {
    width: 537px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
  }
}
.directions {
  background-color: white;
}
.directions_block {
  padding-top: 80px;
  text-align: center;
}
.directions_title {
  font-size: 30px;
  font-weight: bold;
  line-height: 120%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.directions_card_block {
  text-align: start;
}
.directions_card_number {
  font-size: 20px;
  font-weight: 600;
  color: rgb(40, 43, 34);
  line-height: 145%;
  margin-bottom: 20px;
}
.directions_card_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.directions_card {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.directions_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.directions_card_img {
  margin-bottom: 50px;
}

@media screen and (min-width: 620px) {
  .directions_card_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .directions_title {
    font-size: 46px;
    font-weight: bold;
    line-height: 120%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .directions_card {
    padding-left: 30px;
    border-left: 1px solid rgba(40, 43, 34, 0.39);
  }
  .directions_card_block {
    padding-left: 50px;
  }
}
@media screen and (min-width: 920px) {
  .directions_card_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 29px;
  }
  .directions_card_block {
    padding-left: 100px;
  }
  .directions_title {
    margin-bottom: 80px;
  }
}
.provide {
  background-color: rgb(61, 74, 57);
}
.provide_block {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.provide_title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  width: 238px;
  margin: 0 auto;
}
.provide_list__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.provide_list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.provide_list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.provide_item {
  width: 150px;
}
.provide_item__text {
  opacity: 0.5;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

@media screen and (min-width: 998px) {
  .provide_block {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .provide_title {
    width: 545px;
    color: rgb(255, 255, 255);
    font-size: 46px;
    font-weight: 600;
  }
  .provide_list__block {
    margin-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
  }
  .provide_list1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 285px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .provide_list2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 285px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.service_title {
  padding-top: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  color: rgb(40, 43, 34);
  margin-bottom: 50px;
}
.service_text1 {
  padding-top: 30px;
  border-top: 1px solid rgba(40, 43, 34, 0.226);
  border-bottom: 1px solid rgba(40, 43, 34, 0.226);
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 145%;
  text-align: start;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
}
.service_text2 {
  padding-top: 30px;
  border-top: 1px solid rgba(40, 43, 34, 0.226);
  border-bottom: 1px solid rgba(40, 43, 34, 0.226);
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 145%;
  text-align: start;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
}

@media screen and (min-width: 320px) {
  .service_text2 {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 620px) {
  .service_title {
    font-size: 28px;
    line-height: 130T;
    margin-bottom: 60px;
  }
  .service_text1 {
    width: 403px;
    padding-right: 60px;
    border-top: none;
  }
  .service_text2 {
    width: 403px;
    border-top: none;
    padding-left: 60px;
    border-left: 1px solid rgba(40, 43, 34, 0.226);
  }
  .service_text_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid rgba(40, 43, 34, 0.226);
    border-bottom: 1px solid rgba(40, 43, 34, 0.226);
  }
}
@media screen and (min-width: 1000px) {
  .service_text2 {
    margin-bottom: 140px;
  }
  .service_title {
    font-size: 36px;
    line-height: 130%;
    width: 814px;
    margin-right: auto;
    margin-left: auto;
  }
}
.advantage_block {
  margin-bottom: 80px;
}
.advantage_title {
  color: rgb(40, 43, 34);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.advantage_list {
  margin-top: 50px;
}
.advantage_item {
  border-top: 2px solid rgba(40, 43, 34, 0.205);
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 13px;
  gap: 15px;
  position: relative;
}
.advantage_varable {
  border-bottom: 2px solid rgba(40, 43, 34, 0.174);
}
.advantage_item__span-number {
  opacity: 0.5;
  color: rgb(40, 43, 34);
  font-size: 20px;
  font-weight: 600;
}
.advantage_item__title {
  color: rgb(40, 43, 34);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.advantage_item__text {
  color: rgb(40, 43, 34);
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}
.advantage_img {
  display: none;
}

@media screen and (min-width: 998px) {
  .advantage_block {
    margin-bottom: 140px;
  }
  .advantage_title {
    color: rgb(40, 43, 34);
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 80px;
  }
  .advantage_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 613px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantage_item__title {
    color: rgb(40, 43, 34);
    font-size: 32px;
    font-weight: 600;
  }
  .advantage_img {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 58%;
    padding-top: 30px;
  }
  .advantage_item__text {
    opacity: 0.8;
    color: rgb(40, 43, 34);
    font-size: 16px;
    font-weight: 400;
  }
  .advantage_border {
    height: 146px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 1px solid rgba(40, 43, 34, 0.174);
    padding-left: 40px;
  }
  .advantage_hover:hover {
    color: rgb(209, 144, 65);
    cursor: pointer;
  }
}
.contact {
  background-color: rgb(61, 74, 57);
}
.contact_title {
  font-size: 28px;
  color: white;
  padding-top: 80px;
  margin-bottom: 20px;
}
.contact_text {
  font-size: 16px;
  color: white;
  line-height: 145%;
  font-weight: medium;
  margin-bottom: 40px;
}
.contact_left {
  padding-left: 10px;
}
.contact_input1 {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  padding-bottom: 10px;
}
.contact_input_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact_input2 {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.contact_img1 {
  margin-bottom: 40px;
}
.contact_btn {
  padding: 22px 104.5px;
  background-color: rgb(174, 123, 60);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  margin-bottom: 47px;
}
.contact_img3 {
  width: 100%;
  height: 100%;
}
.contact_img2 {
  margin-bottom: 60px;
}

@media screen and (min-width: 640px) {
  .contact_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 67px;
  }
  .contact_right {
    width: 100%;
  }
  .contact_left {
    padding-left: 50px;
  }
}
@media screen and (min-width: 992px) {
  .contact_left {
    padding-left: 150px;
  }
  .contact_block {
    gap: 150px;
  }
}
.work {
  background-color: white;
}
.work_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 135%;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 50px;
}
.work_cards {
  text-align: start;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
.work_block {
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  margin-bottom: 40px;
}
.work_card_number {
  padding: 14px 14px;
  width: 50px;
  border: 1px solid rgba(40, 43, 34, 0.39);
  border-radius: 50%;
  margin-bottom: 25px;
}
.work_card_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.work_card_text {
  font-size: 16px;
  line-height: 145%;
  font-weight: medium;
  width: 80%;
  margin-bottom: 50px;
}

@media screen and (min-width: 640px) {
  .work_card_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
  }
}
@media screen and (min-width: 992px) {
  .work_card_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 80px;
  }
  .work_card_text {
    text-align: start;
    line-height: 25px;
    width: 280px;
  }
}
.design {
  padding-top: 40px;
}
.design_title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 135%;
  margin-bottom: 40px;
}
.design_img1 {
  margin-bottom: 20px;
}
.design_img_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 50px;
}

@media screen and (min-width: 640px) {
  .design_img_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
}
.gift {
  padding-top: 80px;
  background-color: rgb(243, 243, 243);
}
.gift_img1 {
  display: none;
}
.gift_text_block {
  text-align: center;
}
.gift_title {
  font-size: 24px;
  font-family: 600;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gift_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 135%;
  margin-bottom: 40px;
  width: 90%;
  margin-left: auto;
  color: rgba(40, 43, 34, 0.562);
  margin-right: auto;
}
.gift_btn {
  padding: 22px 86.5px;
  background-color: rgb(174, 123, 60);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 80px;
}

@media screen and (min-width: 1000px) {
  .gift_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gift_title {
    font-size: 46px;
    font-weight: 600;
    width: 362px;
  }
  .gift_img1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */