*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
}

.container{
    max-width:1220px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}