.provide {
    background-color: rgb(61, 74, 57);

    &_block {
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
    }

    &_title {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        width: 238px;
        margin: 0 auto;
    }

    &_list__block {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
    }

    &_list1 {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &_list2 {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &_item {
        width: 150px;
    }

    &_item__text {
        opacity: 0.5;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
    }
}

@media screen and (min-width: 998px) {
    .provide_block {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .provide_title {
        width: 545px;
        color: rgb(255, 255, 255);
        font-size: 46px;
        font-weight: 600;
    }

    .provide_list__block {
        margin-top: 70px;
        flex-direction: column;
        display: flex;
        gap: 70px;
    }

    .provide_list1 {
        display: flex;
        gap: 285px;
        justify-content: center;
        flex-direction: row;
    }

    .provide_list2 {
        justify-content: center;
        display: flex;
        gap: 285px;
        flex-direction: row;
    }
}